#signUpWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100vh;
    width: 50vw;
}

#submittedForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 15vh;
    padding: 50px;
}

#email {
    display: block;
    font-size: 22px;

    font-weight: 500;
    margin-top: 30px;
}

#signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
