.styledRadioWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    margin-top: 30px;
}

.styledFieldset {
    display: flex;
}

.styledInput {
    visibility: hidden;
    height: 0;
    width: 0;
    cursor: pointer;
}

.styledLabel {
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
    border: 1px solid black;
}

input[type='radio']:checked + .styledLabel {
    background-color: black;
    color: white;
}
