#loginWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100vh;
    width: 50vw;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#forgotPassword {
    width: 50vw;
    text-align: center;
    font-weight: 500;
    color: #777b86;
    margin-top: 30px;
}
