#forgotPasswordWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100vh;
    width: 50vw;
}

#forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

#emailSent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
