@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    font-family: 'Poppins', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

select:disabled {
    cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

fieldset {
    border: 0 none;
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
